.street-numbers {
  display: flex;
  gap: var(--sl-spacing-2x-small) var(--sl-spacing-x-small);
  font-size: var(--sl-font-size-large);
  flex-wrap: wrap;

  sl-badge:hover::part(base) {
    color: var(--blue);
    background-color: var(--primary);
    cursor: pointer;
  }
}

.card {
  overflow: auto;
  /* max-height: 50vh; */
}
