.link-icon {
  font-size: '1.3rem';
  color: currentcolor;
}

.matched-panel {
  display: grid;
  gap: var(--sl-spacing-medium);
  /* width: 100%; */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  /* .card {
    min-width: 350px;
  } */
}
