.index-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sl-spacing-small);

  sl-tag:hover {
    cursor: pointer;
    &::part(base) {
      background-color: var(--secondary);
      color: white;
    }
  }
}
