reconcile-pane {
  display: flex;
  flex-direction: column;
  gap: var(--sl-spacing-medium);
  height: 100%;
}

.reconcile-pane-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--sl-spacing-small) 0;
}

.reconcile-pane-actions {
  display: flex;
  align-items: center;
  gap: var(--sl-spacing-x-small);
  margin-left: auto;
}
